<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Perplexity Chat App</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <!-- Add Marked.js library -->
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <!-- Add DOMPurify for sanitizing HTML -->
    <script src="https://cdn.jsdelivr.net/npm/dompurify@3.0.3/dist/purify.min.js"></script>
  </head>
  <body>
    <h1>Chat with Perplexity AI</h1>
    <div id="chat-container"></div>
    <form id="message-form">
      <div id="model-selector-container">
        <label for="model-selector"><strong>Select AI Model:</strong></label>
        <select id="model-selector">
          {% for model in models %}
          <option
            value="{{ model.id }}"
            data-description="{{ model.description }}"
            data-context="{{ model.context }}"
          >
            {{ model.name }}
          </option>
          {% endfor %}
        </select>
        <div id="model-details">
          <div>Context length: <span id="model-context"></span></div>
        </div>
        <div id="model-description"></div>
      </div>

      <div class="parameter-slider-container">
        <label for="temperature-slider"
          >Temperature: <span id="temperature-value">0.7</span></label
        >
        <input
          type="range"
          id="temperature-slider"
          min="0"
          max="2"
          step="0.1"
          value="0.7"
        />

        <label for="max-tokens-slider"
          >Max Tokens: <span id="max-tokens-value">512</span></label
        >
        <input
          type="range"
          id="max-tokens-slider"
          min="10"
          max="2000"
          step="10"
          value="512"
        />
      </div>

      <input
        type="text"
        id="message-input"
        placeholder="Type your message here..."
        required
      />
      <button type="submit" id="send-button">Send</button>
    </form>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </body>
</html>
